USE [master]
GO
/****** Object:  Database [Magazzino]    Script Date: 25/08/2021 10:32:50 ******/
CREATE DATABASE [Magazzino]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'Magazzino', FILENAME = N'C:\Users\arian\Magazzino.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'Magazzino_log', FILENAME = N'C:\Users\arian\Magazzino_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [Magazzino].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [Magazzino]
GO
USE [Magazzino]
GO
/****** Object:  Table [dbo].[Bus]    Script Date: 25/08/2021 10:32:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bus](
	[SeatsNumber] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdVehicle] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Car]    Script Date: 25/08/2021 10:32:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Car](
	[Supply] [int] NOT NULL,
	[DoorsNumber] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdVehicle] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Motocycle]    Script Date: 25/08/2021 10:32:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Motocycle](
	[ProductionYear] [int] NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdVehicle] [int] NOT NULL
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vehicle]    Script Date: 25/08/2021 10:32:50 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vehicle](
	[Brand] [nvarchar](50) NOT NULL,
	[Model] [nvarchar](50) NOT NULL,
	[Id] [int] IDENTITY(1,1) NOT NULL,
 CONSTRAINT [PK_Vehicle_1] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bus] ON 

INSERT [dbo].[Bus] ([SeatsNumber], [Id], [IdVehicle]) VALUES (10, 1, 7)
INSERT [dbo].[Bus] ([SeatsNumber], [Id], [IdVehicle]) VALUES (8, 2, 8)
INSERT [dbo].[Bus] ([SeatsNumber], [Id], [IdVehicle]) VALUES (12, 3, 9)
SET IDENTITY_INSERT [dbo].[Bus] OFF
GO
SET IDENTITY_INSERT [dbo].[Car] ON 

INSERT [dbo].[Car] ([Supply], [DoorsNumber], [Id], [IdVehicle]) VALUES (0, 3, 2, 4)
INSERT [dbo].[Car] ([Supply], [DoorsNumber], [Id], [IdVehicle]) VALUES (2, 5, 3, 5)
INSERT [dbo].[Car] ([Supply], [DoorsNumber], [Id], [IdVehicle]) VALUES (1, 5, 4, 6)
SET IDENTITY_INSERT [dbo].[Car] OFF
GO
SET IDENTITY_INSERT [dbo].[Motocycle] ON 

INSERT [dbo].[Motocycle] ([ProductionYear], [Id], [IdVehicle]) VALUES (2020, 1, 1)
INSERT [dbo].[Motocycle] ([ProductionYear], [Id], [IdVehicle]) VALUES (2015, 2, 2)
INSERT [dbo].[Motocycle] ([ProductionYear], [Id], [IdVehicle]) VALUES (1985, 4, 10)
SET IDENTITY_INSERT [dbo].[Motocycle] OFF
GO
SET IDENTITY_INSERT [dbo].[Vehicle] ON 

INSERT [dbo].[Vehicle] ([Brand], [Model], [Id]) VALUES (N'Honda', N'CB', 1)
INSERT [dbo].[Vehicle] ([Brand], [Model], [Id]) VALUES (N'Honda', N'SH', 2)
INSERT [dbo].[Vehicle] ([Brand], [Model], [Id]) VALUES (N'Fiat', N'500', 4)
SET IDENTITY_INSERT [dbo].[Vehicle] OFF
GO
ALTER TABLE [dbo].[Bus]  WITH CHECK ADD  CONSTRAINT [FK_Bus_Vehicle] FOREIGN KEY([IdVehicle])
REFERENCES [dbo].[Vehicle] ([Id])
GO
ALTER TABLE [dbo].[Bus] CHECK CONSTRAINT [FK_Bus_Vehicle]
GO
ALTER TABLE [dbo].[Car]  WITH CHECK ADD  CONSTRAINT [FK_Car_Vehicle] FOREIGN KEY([IdVehicle])
REFERENCES [dbo].[Vehicle] ([Id])
GO
ALTER TABLE [dbo].[Car] CHECK CONSTRAINT [FK_Car_Vehicle]
GO
ALTER TABLE [dbo].[Motocycle]  WITH CHECK ADD  CONSTRAINT [FK_Motocycle_Vehicle] FOREIGN KEY([IdVehicle])
REFERENCES [dbo].[Vehicle] ([Id])
GO
ALTER TABLE [dbo].[Motocycle] CHECK CONSTRAINT [FK_Motocycle_Vehicle]
GO
USE [master]
GO
